//Fonts
$font-title: "Grechen Fuemen", cursive;
$font-text: "Varela Round", sans-serif;
$font-title2: "Architects Daughter", cursive;

//colors

$color-green: #2d3a13;
$color-brown-light: #49362978;
$color-container: #fae9b16b;
