// Aqui van los imports
@import "core/variables";
@import "core/reset";

@import "layout/footer";
@import "pages/index";

//Pondremos los estilos necesarios para App.js

body {
  background-image: url(../images/fondo4.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  height: 0;
  margin-bottom: 0px;
  overflow: hidden;
}
